﻿@model IEnumerable<MSCRMWebApplication.ViewModels.IncidentVM>

@{
    ViewBag.Title = "Index";
}

<h2>Incidents</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ticketnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ticketnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerName)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
